# Entorno virtual
.venv/
venv/
env/

# Variables de entorno
.env
.env.*
*.env

# Base de datos
*.sqlite3
*.sqlite

# Archivos de desarrollo
db.sqlite3

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Directorio media
/media/

# Configuración local de VSCode
.vscode/settings.json

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de migración de prueba
**/migrations/*.py
!**/migrations/__init__.py

