asgiref==3.9.1
beautifulsoup4==4.13.5
black==25.1.0
click==8.2.1
colorama==0.4.6
Django==4.2.24
django-bootstrap-v5==1.0.11
django-crispy-forms==2.4
django-environ==0.12.0
django-widget-tweaks==1.5.0
django-allauth==65.12.0
reportlab==4.4.4
matplotlib==3.10.6
openpyxl==3.1.5 
flake8==7.3.0
isort==6.0.1
mccabe==0.7.0
mypy_extensions==1.1.0
numpy==2.3.3
packaging==25.0
pandas==2.3.2
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.4.0
pycodestyle==2.14.0
pyflakes==3.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
qrcode==8.2
six==1.17.0
soupsieve==2.8
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
